.cabeza {
    background-color: $colorprincipal;
        img {
            margin: map-get($margenes, marg2);
        }
        
}

.menudis{
    @include dflex(flex, row,wrap);
    justify-content: map-get($alinea , fin );
    align-content: flex-end;
}

.menunav {
    font-weight: bold;
    justify-content: map-get($alinea , fin );
    text-align: map-get($alinea , fin );
}
