
.busqueda__barra {
    margin: map-get($margenes, marg3 );
    width: 50%;
}
.busqueda__imagen {
    width: 150px;
    height: 150px;
}
.busquedaresults {
    @include dflex(flex, row,wrap);
    justify-content: space-evenly;
}
.busquedaresults__card {
    margin: map-get($margenes, marg3) map-get($margenes, marg0);
    width: 22rem;
    h5{
        color: $colorprincipal;
        font-weight: bold;
        text-align: map-get($alinea , centro );
    }
}
