.cuerporeview {
    @include dflex(flex, column,wrap);
    h2 {
    text-align: map-get($alinea, centro);
    margin: map-get($margenes, marg3) map-get($margenes, marg1);
    font-weight: bolder;
    
    }
}
.testers {
    @include dflex(flex, column,nowrap);
    border-color: black;
    
    p {
    text-align: map-get($alinea, centro);
    margin: map-get($margenes, marg2) map-get($margenes, marg1);
    }
    h4 {
    text-align: map-get($alinea, centro);
    margin: map-get($margenes, marg3) map-get($margenes, marg1);
    font-weight: bold;
    color: $colorprincipal;    
    }
    a {
    text-align: map-get($alinea, centro);
    }
    img {
    align-self: map-get($alinea, centro);
    margin-bottom: map-get($margenes, marg2);
    }
    iframe {
    align-self: map-get($alinea, centro);
    margin: map-get($margenes, marg2) map-get($margenes, marg0);
    }
}

.testers__color{
                background-color: $colorprincipal;
                h4{
                    color: white;
                }
                p{
                    color: white;
                }
                
}