
.cuerpocontacto {
    @include dflex(flex, column,wrap);
    justify-items: map-get($alinea, centro);
    align-items: map-get($alinea, centro);
    text-align: map-get($alinea, centro);
    h2 {
    margin: map-get($margenes, marg3);
    font-size: xx-large;
    font-weight: bold;
    }
    label {
    margin: map-get($margenes, marg2);
    }
    form {
    @include dflex(flex, column,wrap);
    justify-content: space-evenly;
    align-content: space-between;
    }
    
}

.cuerpocontacto__acordion{
                        h2{
                            color: $colorprincipal;
                            
                        }
                        button{
                            color: $colorprincipal;
                            font-weight: bolder;
                            font-size: 60%;
                            }
                        p{
                            font-weight: bold;
                            font-size: 110%;
                        }
}

.contacto__textarea {
    width: 100%;
    margin: map-get($margenes, marg2) map-get($margenes, marg0);
}

.contacto__inputtext {
    @extend .contacto__textarea;
    font-style: italic;
    
}