.pie {
    background-color: $colorprincipal;
    color: aliceblue;
    padding: map-get($margenes, marg0);
    text-align: map-get($alinea , centro );
    img {
    width: 30px;
    height: 30px;
    }
    a {
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    }
    h4 {
    padding: map-get($margenes, marg2);
    font-weight: bold;
    }
}

.whatsapp {
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: map-get($alinea , centro );
    padding: 3px;
}