.cuerponos {
    @include dflex(flex, column,wrap);
    justify-items: map-get($alinea, centro);
    align-items: map-get($alinea, centro);
    p {
    text-align: map-get($alinea, centro);
    }
    h2 {
    text-align: map-get($alinea, centro);
    margin: map-get($margenes, marg4);
    color: $colorprincipal;
    font-weight: bolder;
    }
}
.nosotros {
    margin: map-get($margenes, marg2);
    text-align: map-get($alinea , centro );
    
    h2 {
        font-weight: bolder;
    }
}
.cuadrado{
            margin: map-get($margenes, marg0);
            width: inherit;
}

.cuadrado__fantasia{
                @include dflex(flex, column,wrap);
                justify-content: map-get($alinea, centro );
                align-items: center;
                background-color: $colorprincipal;
                margin: 0;
                text-align: center;
                
                img{
                    width: 90%;
                    height: 90%;
                }
}
.tarjetanosotros{
    width: 25rem;
    h5{
        font-weight: bold;
        color: $colorprincipal;
    }
}
.nosotros__img {
    width: 100%;
    height: 100%;
}
.nosotrosopiniones {
    margin: map-get($margenes, marg5) map-get($margenes, marg0);
    display: flex;
    justify-content: map-get($alinea, centro);
    text-align: map-get($alinea, centro);
}
.nosotrostestimoniales {
    @include dflex(flex, column,wrap);
    align-content: map-get($alinea, centro);
    align-items: map-get($alinea, centro);
    
}




