@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$tampad: 770px;
$tamcel: 500px;
$tamlap: 1024px;

$margenes: (
        marg0: 0%,
        marg1: 1%,
        marg2: 2%,
        marg3: 3%,
        marg4: 4%,
        marg5: 5%
);

$alinea: (
        centro: center,
        inicio: start,
        fin: end
);

@mixin dflex($flex,$direccion,$wrap) {
        display: $flex;
        flex-direction: $direccion;
        flex-wrap: $wrap;
}

$colorprincipal: rgb(49, 79, 247);
