@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.busqueda__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-content: flex-end; }
  .busqueda__form select {
    margin: 1% 0%; }

.formvende {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center; }

.formvende__inputtext {
  margin: 1% 5%;
  color: black;
  font-size: medium;
  width: 60%; }

.ordenchecks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  text-align: start; }

.formvende__check, .formvende__select {
  margin: 1% 0%; }

.formvende__select {
  font-style: italic;
  width: 60%;
  color: black; }

.pie {
  background-color: #314ff7;
  color: aliceblue;
  padding: 0%;
  text-align: center; }
  .pie img {
    width: 30px;
    height: 30px; }
  .pie a {
    text-decoration: none;
    color: aliceblue;
    font-size: large; }
  .pie h4 {
    padding: 2%;
    font-weight: bold; }

.whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  padding: 3px; }

.cabeza {
  background-color: #314ff7; }
  .cabeza img {
    margin: 2%; }

.menudis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-content: flex-end; }

.menunav {
  font-weight: bold;
  justify-content: end;
  text-align: end; }

.cuerporeview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .cuerporeview h2 {
    text-align: center;
    margin: 3% 1%;
    font-weight: bolder; }

.testers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-color: black; }
  .testers p {
    text-align: center;
    margin: 2% 1%; }
  .testers h4 {
    text-align: center;
    margin: 3% 1%;
    font-weight: bold;
    color: #314ff7; }
  .testers a {
    text-align: center; }
  .testers img {
    align-self: center;
    margin-bottom: 2%; }
  .testers iframe {
    align-self: center;
    margin: 2% 0%; }

.testers__color {
  background-color: #314ff7; }
  .testers__color h4 {
    color: white; }
  .testers__color p {
    color: white; }

.cuerpocontacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  text-align: center; }
  .cuerpocontacto h2 {
    margin: 3%;
    font-size: xx-large;
    font-weight: bold; }
  .cuerpocontacto label {
    margin: 2%; }
  .cuerpocontacto form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between; }

.cuerpocontacto__acordion h2 {
  color: #314ff7; }

.cuerpocontacto__acordion button {
  color: #314ff7;
  font-weight: bolder;
  font-size: 60%; }

.cuerpocontacto__acordion p {
  font-weight: bold;
  font-size: 110%; }

.contacto__textarea, .contacto__inputtext {
  width: 100%;
  margin: 2% 0%; }

.contacto__inputtext {
  font-style: italic; }

.cuerponos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center; }
  .cuerponos p {
    text-align: center; }
  .cuerponos h2 {
    text-align: center;
    margin: 4%;
    color: #314ff7;
    font-weight: bolder; }

.nosotros {
  margin: 2%;
  text-align: center; }
  .nosotros h2 {
    font-weight: bolder; }

.cuadrado {
  margin: 0%;
  width: inherit; }

.cuadrado__fantasia {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #314ff7;
  margin: 0;
  text-align: center; }
  .cuadrado__fantasia img {
    width: 90%;
    height: 90%; }

.tarjetanosotros {
  width: 25rem; }
  .tarjetanosotros h5 {
    font-weight: bold;
    color: #314ff7; }

.nosotros__img {
  width: 100%;
  height: 100%; }

.nosotrosopiniones {
  margin: 5% 0%;
  display: flex;
  justify-content: center;
  text-align: center; }

.nosotrostestimoniales {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center; }

.vende {
  align-items: center;
  justify-items: center; }
  .vende h2 {
    text-align: center;
    margin: 4% 0%;
    font-weight: bold; }
  .vende img {
    border-radius: 2%;
    width: 90%;
    margin: auto; }

.vende__fantasia {
  background-color: #314ff7;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .vende__fantasia img {
    margin: 4% 2%; }

.busqueda__barra {
  margin: 3%;
  width: 50%; }

.busqueda__imagen {
  width: 150px;
  height: 150px; }

.busquedaresults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.busquedaresults__card {
  margin: 3% 0%;
  width: 22rem; }
  .busquedaresults__card h5 {
    color: #314ff7;
    font-weight: bold;
    text-align: center; }

@media screen and (max-width: 1024px) {
  .testers iframe {
    width: auto;
    height: auto; }
  .busqueda__form label {
    font-size: medium; }
  .cuadrado__fantasia img {
    height: 70%; }
  .tarjetanosotros {
    width: 20rem; }
  .busquedaresults__card {
    width: 18rem; } }

@media screen and (max-width: 770px) {
  .busqueda__imagen {
    height: 50px;
    width: 50px; }
  .busqueda__barra {
    margin: 1%;
    width: 90%; }
  .busqueda__form {
    text-align: start;
    align-items: start;
    font-size: medium; }
    .busqueda__form select {
      margin: 1% 0%; }
  .busqueda__form__select {
    font-size: small; }
  .busquedaresults {
    flex-direction: row; }
  .busquedaresults__card {
    width: 17rem; }
  .testers__color {
    background-color: white; }
    .testers__color h4 {
      color: #314ff7; }
    .testers__color p {
      color: black; }
  .menudis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end; }
    .menudis a {
      font-size: large;
      padding: 0rem; }
  .vende img {
    display: none; }
  .headimage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .cuadrado__fantasia img {
    display: none; }
  .cabeza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .cabeza h1 {
      font-size: xx-large; }
  .pie {
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center; }
  .testers iframe {
    width: auto;
    height: auto; } }

@media screen and (max-width: 500px) {
  .busquedaresults {
    flex-direction: column;
    align-items: center; }
  .formvende__select {
    width: 90%; }
  .formvende__inputtext {
    width: 90%; }
  .busquedaresults__card {
    width: 18rem; }
  .tarjetanosotros {
    width: 16rem; }
  .busqueda__form {
    text-align: center;
    align-items: center; }
  .nosotros {
    margin: 0%; }
  .cuerpocontacto__acordion button {
    font-size: 50%; }
  .cuerpocontacto__acordion p {
    font-size: 90%; } }
